/*公共样式*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.link {
    color: #4d555d;
}

.link:hover {
    color: #f01414 !important;
}

/*文字溢出隐藏*/
.text-hidden{
    text-indent: -9999px;
    overflow: hidden;
}

/*文字溢出显示省略号*/
.text-ellipsis{
    text-overflow: ellipsis;/*显示省略号*/
    white-space: nowrap;/*不换行*/
    overflow: hidden;/*超出的部分隐藏*/
}

/*showHide*/
.fadeOut {
    opacity: 0 !important;
    visibility: hidden !important;
}

.slideUpDown {
    height: 0 !important;
    /*注意:有可能没有设置高度,只设置了padding,需要将padding上下内边距设置为0*/
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    /*注意:还有可能是子布局撑开的高度 在初始化的时候计算它的高度*/
}

.slideLeftRight {
    width: 0 !important;
    /*注意:有可能没有设置高度,只设置了padding,需要将padding上下内边距设置为0*/
    padding-left: 0 !important;
    padding-right: 0 !important;
    /*注意:还有可能是子布局撑开的高度 在初始化的时候计算它的高度*/
}

/*icon*/
@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1477124206');
    /* IE9*/
    src: url('../font/iconfont.eot?t=1477124206#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1477124206') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1477124206') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1477124206#iconfont') format('svg');
    /* iOS 4.1- */
}

.icon {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}



.transition{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/*设置最基本的样式*/
.dropdown {
    position: relative;
}

.dropdown-toggle {
    position: relative;
    z-index: 2;
}

.dropdown-arrow {
    display: inline-block;
    vertical-align: middle;
}

.dropdown-layer {
    display: none;
    /* overflow: hidden; */
    position: absolute;
    z-index: 1;
}

.dropdown-left {
    left: 0;
    right: auto;
}

.dropdown-right {
    left: auto;
    right: 0;
}
.dropdown-loading{
    width:32px;
    height: 32px;
    background: url(../img/loading.gif) no-repeat;
    margin: 20px;
}

/*menu 菜单样式的下拉菜单*/
.menu .dropdown-toggle {
    display: block;
    height: 100%;
    padding: 0 13px 0 12px;
    border-left: 1px solid #f3f5f7;
    border-right: 1px solid #f3f5f7;
}

.menu .dropdown-arrow {
    margin-left: 5px;
}

.menu .dropdown-layer {
    top: 43px;
    background-color: #fff;
    border: 1px solid #cdd0d4;
}

.menu-item {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #4d555d;
    white-space: nowrap;
    /*不换行*/
    padding: 0 12px;
}

.menu-item:hover {
    background: #f3f5f7;
}

.menu-active .dropdown-toggle {
    background: #fff;
    border-color: #cdd0d4;
}

.menu-active .dropdown-arrow{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/* .icon-triangle-down{
    width: 0;
    height: 0;
    border: 4px solid #535b62;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: none;
}

.menu-active .icon-triangle-down{
    border-top: none;
    border-bottom:4px solid #f11c1c;
} */

/*搜索样式*/
.search{
    position: relative;
    border: 1px solid #cfd2d5;
}
.search-inputbox{
    width: 585px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    border: none;
    background: #fff;
}
.search-btn{
    width: 73px;
    height: 40px;
    line-height: 40px;
    background: #07111b;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
}
.search-layer{
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    background: #fff;
    border: 1px solid #cfd2d5;
}
.search-layer-item{
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    cursor: pointer;
}

.search-layer-item:hover{
    background: #f3f5f7;
}

/*category*/

.category{
    position: relative;
    width: 208px;
    margin-top: -62px;
    font-size: 14px;
}

.category .dropdown{
    position: static;
}

/*category 总标题样式*/
.category-title{
    display: block;
    height: 54px;
    line-height: 54px;
    padding: 0 20px;
    background: #c81414;
    color: #fff;
}

.category-title .icon{
    margin-right: 10px;
    font-size: 16px;
}

/*category-list 列表样式*/
.category-list{
    height: 512px;
    background: #f01414;
}

/*每个item的样式*/
.category-list .dropdown-toggle{
    height: 36px;
    line-height: 36px;
    padding-left: 16px;
    color: #fff;
}

.category-list .dropdown-link{
    color: #fff;
}

.category-list .dropdown-arrow{
    position: absolute;
    top:0px;
    right: 12px;
    font-weight: bold;
    font-family: simsun;
}

/*item hover 样式*/
.category-active .dropdown-toggle{
    background: #fff;
}
.category-active .dropdown-toggle,
.category-active .dropdown-link{
    color: #f01414;
}

/*需要修改相对点 相对category*/
.category-list .dropdown-layer{
    top: 54px;
    left: 100%;/*宽度*/
    width: 744px;
    min-height: 473px;
    padding: 8px 0 31px 0;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.category-detail{
    width: 744px;
    line-height: 20px;
    margin-top: 24px;
}

.category-detail-title{
    width: 84px;
    padding-right: 16px;
    text-align: right;
    border-right: 1px solid #d9dde1;
}

.category-detail-title-link{
    color: #07111b;
    font-weight: bold;
}

.category-detail-item{
    width: 592px;/*防止item过多整体掉下来*/
    padding-left: 15px;
}

.category-detail-item .link{
    display: inline-block;/*使其成为一个块 防止被拆分两个部分*/
    margin-right: 16px;

}

.category .dropdown-loading{
    margin: 220px auto 0;

}