*{
    margin: 0;
    padding: 0;
}

.banner{
    width: 600px;
    height: 338px;
    overflow: hidden;
    margin: 50px auto;
    position: relative;
}

.banner a{
    width: 600px;
    height: 338px;
    display: block;
    float: left;
}

.banner a img{
    width: 600px;
    height: 338px;
}