
/**清除p标签的默认样式*/
p{
    margin: 0;
    padding: 0;
    display: inline-block;
}

select,input{
    border: none;
    outline: none;
}

/**top模块内的样式*/
.top{
    line-height: 30px;
    font-size: 13px;
    color: #868686;
}
/*top模块下call类选择器的样式*/
.top .call{
    float: left;
    padding-left: 20px;
    background:url(../img/icon-call.png) no-repeat center left;/*设置电话图片居中 水平居左*/    
}

/*去除a标签的下划线*/
a{
    text-decoration: none;
}

.top a{
    color: #5bb8e8;
    padding-left: 10px;
}

.top .welcome{
    float: right;
}

/*header模块样式*/
.header .logo{
    width: 402px;
    height: 74px;
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
}

.header .logo img{
    width: 100%;
    height: 100%;
}

.header .search{
    width: 326px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 29px;
    background: orange;
}

/*nav模块*/
.nav .link{
    display: inline-block;
    float: left;
    padding-left: 30px;
    line-height: 36px;
    text-align: center;
    min-width: 80px;
    font-size: 16px;
    color: #fff;
}

/*定义a标签 鼠标移动上去的效果*/
.nav a:hover{
    color: #d7f3ff;
}

.nav .menu{
    width: 130px;
    padding-right: 30px;
    position: relative;
    background: #1fa4f0;
}

.nav .menu .menu-list{
    width: 100%;
    background: #1fa4f0;
    height: 423px;
    position: absolute;
    top: 36px;
    left: 0;
}

/*banner模块*/
.banner-search .caption{
    height: 22px;
    padding: 15px 0 15px 0;
    text-align: center;
}

.banner-search .caption .text{
    height: 22px;
    display: inline-block;
    line-height: 22px;/*文字绝对的垂直居中这个高度*/
    padding-left: 28px;
    color: #fec009;
    font-size: 16px;
    background: url(../img/icon-help.png) no-repeat 0 0;
}

.banner-search .form{
    height: 150px;
    text-align: center;
}

.banner-search .form .line{
    padding-bottom: 9px;
    text-align: center;
}

.banner-search .form .line select{
    width: 170px;
    font-size: 12px;
    z-index: 0;
    border: 1px solid #dcdddd;
    height: 26px;
    line-height: 26px;
    color: #666;
    padding: 2px 0;
}

.banner-search .submit{
    height: 32px;
    text-align: center;
}

.banner-search .submit .button{
    height: 32px;
    width: 108px;
    background: #fecd09;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.banner-helper .caption{
    height: 22px;
    padding: 15px 0 15px 0;
    text-align: center;
}

.banner-helper .caption .text{
    height: 22px;
    display: inline-block;
    line-height: 22px;/*文字绝对的垂直居中这个高度*/
    padding-left: 28px;
    color: #5bb8e8;
    font-size: 16px;
    background: url(../img/icon-help.png) no-repeat 0 -23px;
}

.banner-helper .link{
        color: #00b3ea;
        display: inline-block;
        width: 86px;
        height: 26px;
        line-height: 26px;
        font-size: 14px;
        text-align: center;
        padding: 0 0 8px 26px;
}

/*content news close模块样式*/
.close,
.news{
    background-color: #fff;
    border: 1px solid #f4f6fa;
}

.close .caption,
.news .caption{
    height: 38px;
    line-height: 38px;
    background: #f4f6fa;
    font-size: 15px;
    color: #fec009;
    text-indent: 20px;
}
.close .more,
.news .more{
    float: right;
    font-size: 12px;
    padding-right: 21px;
    color: #868686;
}
.close .list,
.news .list{
    padding: 14px 20px 13px 35px;
    line-height: 29px;
    font-size: 12px;
    background: url(../img/list-yellow.jpg) 17px 20px no-repeat;
}
.close .list .link,
.news .list .link{
    display: block;
    height: 29px;
    color: #969696;
}

.close .caption{
    color: #00b3ea;
}

.close .list{
    background: url(../img/list-blue.jpg) 17px 20px no-repeat;
}