* {
    margin: 0;
    padding: 0;
    border: none;
}

.clearfix:after{
    content: ' ';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    zoom: 1;
}

.warp {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.top {
    height: 30px;
    background: #f5f5f5;
}

.header {
    height: 92px;
    background: #fff;
}

.nav {
    height: 36px;
    background: #60bff2;
}

.banner {
    width: 802px;
    margin: 0 auto;
    height: 414px;
    padding: 9px 0 0 198px;
}

.banner .banner-slider {
    height: 414px;
    width: 544px;
    float: left;
    background: #8bddf3;
}

.banner .banner-search {
    width: 250px;
    height: 255px;
    background-color: #fafafa;
    float: right;
}

.banner .banner-helper {
    width: 250px;
    height: 146px;
    background-color: #fafafa;
    margin-top: 12px;
    float: right;
}

.content {
    padding: 10px 0 38px 0;
}

.content .tab {
    width: 742px;
    height: 490px;
    float: left;
    background-color: #ccc;
}

.news,
.close {
    float: right;
    width: 248px;
    height: 236px;
    border: 1px solid #ccc;
}

.close{
    margin-top: 12px;
}

.footer{
    background-color: #eceef2;
    padding: 25px 0;
    height: 70px;
}